html,
body {
  height: 100%;
}

/* Definindo propriedades no logo da Navbar */
#logo {
  margin: auto;
  background-image: linear-gradient(
    rgba(240, 255, 255, 0.93),
    rgba(240, 255, 255, 0.93)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Definindo atributo de bg-collor no tema Azure */
.bg-azure {
  background-color: azure;
}

/* Definindo o Badge para acompanhar o H3 */
.badge {
  font-size: 1.75rem;
}

/* Definindo o padding dos links da NavBar */
.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

/* Definindo a cor do F da logo do facebook */
.p361ku9c {
  fill: whitesmoke;
}

/* Definindo a cor dos Links da Navbar como Preto */
.navbar-light .navbar-nav .nav-link {
  color: black;
}

/* Definindo a cor do Hover do link da Navbar na cor do tema */
.navbar-light .navbar-nav .nav-link:hover {
  color: #009dff;
}

/* Definindo a cor do Link ativo da Navbar na cor do tema */
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: azure;
}

/* Definindo a bg do Link ativo da Navbar na cor do tema */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #009dff;
}

/* Efeito parallax da imagem de fundo */
.parallax {
  /* The image used */
  background-image: url("../img/58377953_443414979762986_6402937837582286848_n.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Botão da imagem Modal*/
.btn {
  background-color: azure;
  border: 0px solid transparent;
  padding: 0;
}

.quebrada {
  width: 100%;
  word-wrap: break-word;
}
.rowC {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 100%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.line {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.line .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container3 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}